# Ignore node_modules directory
node_modules/
.env

# Ignore log files and error logs
logs/
*.log

# Ignore environment variables file (e.g., .env)

# Ignore operating system and editor files
.DS_Store
Thumbs.db

# Ignore npm debugging logs
npm-debug.log

# Ignore build directories
dist/
build/

# Ignore IDE and code editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

